<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="Server=DESKTOP-4496VDM\STUDENTS;Integrated security = true;database=WalletSimulator" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:11113/WalletSimulatorService" behaviorConfiguration="Behaviors.EndpointBehavior" binding="wsHttpBinding" contract="KMA.APZRPMJ2018.WalletSimulator.ServiceInterface.IWalletContract" name="WalletSimulatorService" bindingConfiguration="customBinding" />
    </client>
    <services>
      <service behaviorConfiguration="WalletSimulator.Service.WalletSimulatorServiceBehaviour" name="KMA.APZRPMJ2018.WalletSimulator.WalletService.WalletSimulatorService">
        <endpoint address="http://localhost:11113/WalletSimulatorService" binding="wsHttpBinding" contract="KMA.APZRPMJ2018.WalletSimulator.ServiceInterface.IWalletContract" bindingConfiguration="customBinding"></endpoint>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="customBinding" maxBufferPoolSize="73400320" maxReceivedMessageSize="73400320" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxArrayLength="73400320" maxBytesPerRead="73400320" maxNameTableCharCount="73400320" maxStringContentLength="73400320" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WalletSimulator.Service.WalletSimulatorServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>